{% extends 'users/base.html' %}{% load i18n static %}

{% block title %}{% trans "Create or change an event." %}{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% if item %}Edit event{% else%}New event{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'schedules_list' %}"><i class="fa fa-event"></i> Schedules</a></li>
            <li class="active">
                {% if item %}Edit event{% else%}New event{% endif %}
            </li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
        <div class="row">
            <div class="col-xs-12">
                {% if messages %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {% for message in messages %}
                            <h4>
                                {% if message.tags %}
                                    <i class="icon fa fa-check {{ message.tags }}"></i>
                                {% endif %}
                                {{ message }}
                            </h4>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-xs-10 col-xs-push-1">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title text-center">
                                {% if form.non_field_errors %}
                                    <ul class="list-unstyled">
                                        {% for error in form.non_field_errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% if item %}Edit event{% else%}New event{% endif %}
                                {% endif %}
                            </h3>
                        </div>
                    </div>
                    <form class="form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="form-group form-inline">
                            <label for="id_start_0" class="col-sm-2 control-label">Start:</label>
                            <div class="col-sm-10">
                                <input
                                    id="id_start_0"
                                    name="start_0"
                                    type="text"
                                    class="form-control datepicker"
                                    value="{% if data.start_ymd %} {{data.start_ymd}}{% endif %}"
                                >
                                <input
                                    id="id_start_1"
                                    name="start_1"
                                    type="text"
                                    class="form-control datepicker"
                                    value="{% if data.start_hour %} {{data.start_hour}}{% endif %}"
                                >
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="id_end_0" class="col-sm-2 control-label">End:</label>
                            <div class="col-sm-10">
                                <input
                                    id="id_end_0"
                                    class="form-control datepicker"
                                    name="end_0"
                                    type="text"
                                    value="{% if data.end_ymd %} {{data.end_ymd}}{% endif %}"
                                >
                                <input
                                    id="id_end_1"
                                    class="form-control datepicker"
                                    name="end_1"
                                    type="text"
                                    value="{% if data.end_hour %} {{data.end_hour}}{% endif %}"
                                >
                                <span class="helptext">The end time must be later than start time.</span></td>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label for="id_title" class="col-sm-2 control-label">On call</label>
                            <div class="col-sm-10">
                                <select name="oncall" class="form-control">
                                    <optgroup label="Groups">
                                        {% for item in groups %}
                                            <option value="{{item.name}}" {% if data.oncall == item.name %}selected{% endif %} >{{ item.name }}</option>
                                        {% endfor %}
                                    </optgroup>

                                    <optgroup label="People">
                                        {% for item in users %}
                                            <option value="{{item.username}}" {% if data.oncall == item.username %}selected{% endif %} >{{ item.username }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div id="content-main">
                            {% for group in grouped_models %}
                                <div class="module">
                                    <h2 id="app-{{ group.grouper.label }}">{{ group.grouper.verbose_name }} ({{ group.grouper.name }})</h2>
                                    <table class="xfull">
                                        {% for model in group.list %}
                                            <tr>
                                                <th><a href="{% url 'django-admindocs-models-detail' app_label=model.app_label model_name=model.model_name %}">{{ model.object_name }}</a></th>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group form-inline">
                            <label for="fallback" class="col-sm-2 control-label">Fallback</label>
                            <div class="col-sm-10">
                                <select name="fallback" class="form-control">

                                    <optgroup label="Groups">
                                        {% for item in groups %}
                                            <option value="{{item.name}}" {% if data.fallback == item.name %}selected{% endif %} >{{ item.name }}</option>
                                        {% endfor %}
                                    </optgroup>

                                    <optgroup label="People">
                                        {% for item in users %}
                                            <option value="{{item.username}}" {% if data.fallback == item.username %}selected{% endif %} >{{ item.username }}</option>
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="rule" class="col-sm-2 control-label">Recurring</label>
                            <div class="col-sm-10">
                                <select name="rule" class="form-control">
                                    {% for id, name in form.rule.field.choices %}
                                        <option value="{{ id }}" {% if data.rule == id %} {{"selected"}}{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-inline">
                            <label for="id_start_0" class="col-sm-2 control-label">End recurring</label>
                            <div class="col-sm-10">
                                <input id="id_end_recurring_period" name="end_recurring_period" type="text"
                                       class="datepicker form-control" value="{% if data.recurr_ymd %} {{data.recurr_ymd}}{% endif %}">
                            </div>
                        </div>
                        <div class="form-group form-inline"><label for="id_description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" cols="40" id="id_description" name="description" rows="5">{% if data.description %} {{data.description}}{% endif %}</textarea>
                            </div>
                        </div>
                        <br/>
                        <input type="submit" class="btn btn-success" value="{% trans "Save" %}">
                        <input type="button" class="btn btn-danger" value="{% trans "Cancel" %}" onclick="window.location='/schedules/view/{{ calendar.slug }}'"/>
                        <input type="hidden" name="next" value="{{next|default:""}}"/>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
{% endblock %}
{% block custom_scripts %}
    <script type="text/javascript" src="{% static "assets/js/jquery-3.3.1.min.js"%}"></script>

    <script>
        $(document ).ready(function() {
        });
    </script>
    <link rel="stylesheet" href="{%  static 'assets/css/bootstrap-datepicker.css' %}">
{% endblock %}
