{% extends "base.html" %}
{% load static %}
{% block title %}{% if item %}Edit escalation policy{% else%}New escalation policy{% endif %}{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% if item %}Edit escalation policy{% else%}New escalation policy{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{% if item %}Edit escalation policy{% else%}New escalation policy{% endif %}</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Main row -->
            <div class="row">
            <div class="col-xs-12">
                {% if messages %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {% for message in messages %}
                            <h4>
                                {% if message.tags %}
                                    <i class="icon fa fa-check {{ message.tags }}"></i>
                                {% endif %}
                                {{ message }}
                            </h4>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-xs-10 col-xs-push-1">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title text-center">
                                {% if form.non_field_errors %}
                                    <ul class="list-unstyled">
                                        {% for error in form.non_field_errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% if item %}Edit escalation policy{% else%}New escalation policy{% endif %}
                                {% endif %}
                            </h3>
                            <form role="form" method="post" action="">
                                <div class="box-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name">
                                            Policy name
                                            {% if form.errors %}{% for field in form %}
                                                {% ifequal field form.name %}{% for error in field.errors %}
                                                    <strong class="alert-danger"> {{ error|escape }}</strong>
                                                {% endfor %}{% endifequal %}
                                            {% endfor %}{% endif %}
                                        </label>
                                        {{ form.name }}
                                    </div>
                                    <div class="form-group">
                                        <label for="repeat_times">
                                            Repeat
                                            {% if form.errors %}{% for field in form %}
                                                {% ifequal field form.repeat_times %}{% for error in field.errors %}
                                                    <strong class="alert-danger"> {{ error|escape }}</strong>
                                                {% endfor %}{% endifequal %}
                                            {% endfor %}{% endif %}
                                        </label>
                                        {{ form.repeat_times }}
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Escalation policy elements</label>
                                    </div> <!-- Escalation policy elements -->
                                    <div class="form-group">
                                        <ol id="list" class="list-group">
                                            {% for row in elements %}
                                                <li class="list-group-item">
                                                    <label for="escalate_after"  class="col-sm-5 control-label">
                                                        Calendar, group or user:
                                                    </label>
                                                    <div class="col-sm-5">
                                                        <select id="escalate_after[]" name="escalate_to[]" class="form-control">
                                                            <optgroup label="Calendars">
                                                                {% for item in calendars %}
                                                                    <option value="calendar|{{item.id}}" {% if row.schedule.id == item.id %}selected{% endif %} >{{item.name}}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                            <optgroup label="Groups">
                                                                {% for item in groups %}
                                                                    <option value="group|{{item.id}}" {% if row.group_id.id == item.id %}selected{% endif %} >{{ item.name }}</option>
                                                                {% endfor %}
                                                            </optgroup>

                                                            <optgroup label="People">
                                                                {% for item in users %}
                                                                    <option value="user|{{item.id}}" {% if row.user_id.id == item.id %}selected{% endif %} >{{ item.username }}</option>
                                                                {% endfor %}
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                    <button  class="remove btn btn-default btn-sm">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </li>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                    <div class="form-group">
                                        <button id="add_method" type="button" class="btn btn-success pull-right">
                                            <span class="glyphicon glyphicon-plus"></span>
                                            Add element to escalation policy
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-left" id="save">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->
    </section>
    <!-- /.content -->
</div>
<ul id="empty-row" style="display: none">
    <li class="list-group-item">
        <label for="escalate_after"  class="col-sm-5 control-label">
            Calendar, group or user:
        </label>
        <div class="col-sm-5">
            <select id="escalate_after[]" name="escalate_to[]" class="form-control" >
                <optgroup label="Calendars">
                    {% for item in calendars %}
                        <option value="calendar|{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Groups">
                    {% for item in groups %}
                        <option value="group|{{item.id}}" >{{ item.name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="People">
                    {% for item in users %}
                        <option value="user|{{item.id}}" >{{ item.username }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <button  class="remove btn btn-default btn-sm" >
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </li>
</ul>

{% endblock %}
{% block custom_scripts %}
    <script type="text/javascript" src="{% static "assets/js/jquery-3.3.1.min.js"%}"></script>
    <script type="text/javascript" src="{% static "assets/js/jquery-ui.js"%}"></script>
    <script>
        $(document ).ready(function() {
            var list = $("#list");
            list.sortable();
            $('#add_method').on('click', function(e) {
                console.log("Pressed button");
                e.preventDefault();
                $('#empty-row').children().first().clone().appendTo(list);
             });
            list.on('click', '.remove', function () {
                $(this).parent().remove();
             });
        });
    </script>
{% endblock %}
