{% extends 'base.html' %}
{% block title %}Escalation Policies{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Escalation Policies</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </a>
                </li>
                <li class="active">Escalation Policies</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-6">
                            {% if messages %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    {% for message in messages %}
                                        <h4>
                                            {% if message.tags %}
                                                <i class="icon fa fa-check {{ message.tags }}"></i>{% endif %}
                                            {{ message }}
                                        </h4>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h2></h2>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <a href="{% url 'SchedulePolicyCreateView' %}" type="submit" class="btn btn-success">
                                        <i class="fa fa-plus"></i> New Escalation Policy
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>Policy name</th>
                                    <th>Repeat</th>
                                    <th>Options</th>
                                </tr>
                                {% for item in policies %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td><strong>{{ item.repeat_times }}</strong> times</td>

                                    <td class="controls">
                                        <a
                                            href="{% url 'SchedulePolicyUpdateView' item.id %}"
                                            class="btn btn-default btn-sm"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Edit"
                                        >
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <form
                                            style="width: 30px; display: inline;"
                                            method="POST" action="{% url 'openduty.escalation.delete' item.id %}">
                                            {% csrf_token %}
                                            <button
                                                type="submit"
                                                role="button"
                                                class="btn btn-danger btn-sm"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title="Remove"
                                                onclick="return confirm('Are you sure you want to delete this escalation policy: {{item.name}}')"
                                                value="Button"
                                            ><span class="glyphicon glyphicon-remove"></span>
                                            </button>

                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row (main row) -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
