{% extends 'users/base.html' %}
{% block title %}Users List{% endblock %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Users list</h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Users list</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main row -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            {% if messages %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {% for message in messages %}
                                        <h4>
                                            {% if message.tags %}<i class="icon fa fa-check {{ message.tags }}"></i>{% endif %}
                                            {{ message }}
                                        </h4>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">All Users</h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <a href="{% url 'add_user' %}" type="submit" class="btn btn-success">
                                        <i class="fa fa-plus"></i> Add User
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>User name</th>
                                    <th>E-mail</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                                {% for item in users %}
                                    {% if perms.is_staff or item.id == user.id %}
                                    <tr class="">
                                        <td>{{ item.username }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.profile.phone_number }}</td>
                                        <td class="controls">
                                            <form method="post" action="{% url 'openduty.users.testnotification' %}">
                                                {% csrf_token %}
                                                <a
                                                    href="{% url 'edit_profile' item.id %}"
                                                    class="btn btn-default btn-sm"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="Edit">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                                <input type="hidden" name="id" value="{{ user.id }}">
                                                <input type="hidden" name="url" value="{{ url }}">
                                                <button
                                                    type="submit"
                                                    class="btn btn-default btn-sm"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="Test notification"
                                                    name="event_type"
                                                    value="">
                                                    <span class="glyphicon glyphicon-bullhorn"></span>
                                                </button>
                                                {% if item.id != user.id %}
                                                    <a
                                                        href="{% url 'UserDeleteView' item.id %}"
                                                        class="btn btn-default btn-sm"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Remove"
                                                        type="submit"
                                                        value="Button">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                {% endif %}
                                            </form>
                                        </td>
                                    </tr>
                                    {% endif %}
                                {% endfor %}

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row (main row) -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
