{% extends 'base.html' %}
{% load static scheduletags staticfiles i18n %}
{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Calendar: {{ calendar.name }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Calendar: {{ calendar.name }}</li>
        </ol>
    </section>

        <div class="content">
            {% if messages %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {% for message in messages %}
                        <h4>
                            {% if message.tags %}<i class="icon fa fa-check {{ message.tags }}"></i>{% endif %}
                            {{ message }}
                        </h4>
                    {% endfor %}
                </div>
            {% endif %}

            {% with calendar_slug=calendar.slug %}
            <div class="row header">
              <div class="col-xs-12 col-md-8"><h2>On-Call Schedule: {{ calendar.name }}</h2></div>
              <div class="col-xs-12 col-md-8">Primary on-call engineer: {{ currently_oncall_1 }}</div>
              <div class="col-xs-12 col-md-8">Fallback on-call engineer: {{ currently_oncall_2 }}</div>
              <div class="col-xs-12 col-md-8">Current date: {{ current_date }} {{ local_timezone }} </div>
              <div class="col-xs-6 col-md-4 button">
                  <a href="{% url 'CustomCreateEventView' calendar_slug %}" class="btn btn-default">
                      <span class="glyphicon glyphicon-plus"></span>
                      New Event
                  </a>
              </div>
            </div>
            <div >
                <div class="tablewrapper">
                    {% prevnext "calendar_details" calendar month "F Y" %}
                </div>

                <table class="table-condensed table-striped">
                    {% if day_names %}
                        <thead>
                        <th>&nbsp;</th>
                        {% for day_name in day_names %}
                            <th>{{ day_name }}</th>
                        {% endfor %}
                        </thead>
                    {% endif %}
                    <tbody>
                    {% for week in month.get_weeks %}
                        <tr>
                            <td>
                                <a href="{% url "week_calendar" calendar_slug %}{% querystring_for_date week.start 3 %}">
                                    {{week.start|date:"W"}}
                                </a>
                            </td>
                            {% for day in week.get_days %}

        {#                        {% day_cell calendar day month size %}#}

                                {% ifnotequal day.start.month month.start.month %}
                                    <td class="muted"></td>
                                {% else %}
                                    {% if day.has_occurrences %}
                                        <td class="btn-primary gradient">
                                    {% else %}
                                        <td>
                                    {% endif %}
                                        <a href="{% url "day_calendar" calendar_slug %}{% querystring_for_date day.start 3 %}">
                                            <strong>{{day.start.day}}</strong>
                                        </a>
                                        {% ifnotequal size "small" %}
                                            <div>
                                                {% if day.has_occurrences %}{% for o in day.get_occurrence_partials %}
                                                    <button
                                                        type="button"
                                                        class="btn btn-primary btn-lg"
                                                        data-toggle="modal" data-target="#occurrenceModal">
                                                        <div class="starttime">
                                                            {% ifequal o.class 0 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                                                            {% ifequal o.class 1 %}{{ o.occurrence.start|time:"G:i" }}{% endifequal %}
                                                            {% ifequal o.class 2 %}(All day){% endifequal %}
                                                            {% ifequal o.class 3 %}Ends at {{ o.occurrence.end|time:"G:i" }}{% endifequal %}
                                                        </div>
                                                        <div class="eventdesc">
                                                            {% title o.occurrence %}
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="modal fade"
                                                        id="occurrenceModal"
                                                        tabindex="-1"
                                                        role="dialog"
                                                        aria-labelledby="occurrence_detailsl">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button"
                                                                        class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    {{ occurrence.title }}
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                {% with occurrence=o.occurrence %}
                                                                <div
                                                                    class="modal fade"
                                                                    id="{% hash_occurrence occurrence %}"
                                                                    tabindex="-1"
                                                                    role="dialog" >
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button
                                                                                    type="button"
                                                                                    class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                                <h4 class="modal-title" id="myModalLabel">
                                                                                    {{occurrence.title}}
                                                                                </h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <table class="table table-striped">
                                                                                    <tr>
                                                                                        <td class="left">{% trans "Starts" %}</td>
                                                                                        <td>
                                                                                            {% blocktrans with occurrence.start|date:_("DATETIME_FORMAT") as start_date %}{{ start_date }}{% endblocktrans %}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="left">{% trans "Ends" %}</td>
                                                                                        <td>
                                                                                            {% blocktrans with occurrence.end|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}
                                                                                        </td>
                                                                                    </tr>
                                                                                    {% if occurrence.event.rule %}
                                                                                        {% if not occurrence.id %}
                                                                                            <tr>
                                                                                                <td class="left">
                                                                                                    {% trans "Reoccurs" %}
                                                                                                </td>
                                                                                                <td>
                                                                                                    {{occurrence.event.rule}}
                                                                                                </td>
                                                                                            </tr>
                                                                                            {% if occurrence.event.end_recurring_period %}
                                                                                                <tr>
                                                                                                    <td class="left">
                                                                                                        {% trans "Until" %}
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        {% blocktrans with occurrence.event.end_recurring_period|date:_("DATETIME_FORMAT") as end_date %}{{ end_date }}{% endblocktrans %}
                                                                                                    </td>
                                                                                                </tr>
                                                                                            {% endif %}
                                                                                        {% endif %}
                                                                                    {% endif %}
                                                                                </table>
                                                                                {% if occurrence.description %}
                                                                                    <h3>{% trans "Description" %}</h3>
                                                                                    <p>{{occurrence.description}}</p>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button
                                                                                    type="button"
                                                                                    class="btn btn-default"
                                                                                    data-dismiss="modal">
                                                                                    {% trans "Close" %}
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endwith %}

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}{% endif %}
                                            </div>
                                        {% endifnotequal %}
                                    </td>
                                {% endifnotequal %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endwith %}


    <br><br><br>

            <div class="row">
                <div class="col-md-3">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">Draggable Events</h4>
                        </div>
                        <div class="box-body">
                            <!-- the events -->
                            <div id="external-events">
                                <div class="external-event bg-green">Lunch</div>
                                <div class="external-event bg-yellow">Go home</div>
                                <div class="external-event bg-aqua">Do homework</div>
                                <div class="external-event bg-light-blue">Work on UI design</div>
                                <div class="external-event bg-red">Sleep tight</div>
                                <div class="checkbox">
                                    <label for="drop-remove">
                                        <input type="checkbox" id="drop-remove">
                                        remove after drop
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Create Event</h3>
                        </div>
                        <div class="box-body">
                            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                                <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                                <ul class="fc-color-picker" id="color-chooser">
                                    <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                                    <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <div class="input-group">
                                <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                                <div class="input-group-btn">
                                    <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <!-- THE CALENDAR -->
                            <div id="calendar"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
{% endblock %}
