{% extends 'base.html' %}{% load arrowfilter static %}
{% block title %}{% if item %}Edit Schedule{% else%}New Schedule{% endif %}{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% if item %}Edit Schedule{% else%}New Schedule{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> Dashboard</li>
        </ol>
    </section>
    <div class="content">
        {% if messages %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {% for message in messages %}
                    <h4>
                        {% if message.tags %}<i class="icon fa fa-check {{ message.tags }}"></i>{% endif %}
                        {{ message }}
                    </h4>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-xs-10 col-xs-push-1">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title text-center">
                                {% if form.non_field_errors %}
                                    <ul class="list-unstyled">
                                        {% for error in form.non_field_errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    {% if item %}Edit user{% else%}New user{% endif %}
                                {% endif %}
                            </h3>
                            <form class="form-horizontal" role="form" method="post" action="">
                                <div class="box-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name">
                                            Name
                                            {% if form.errors %}{% for field in form %}
                                                {% ifequal field form.name %}{% for error in field.errors %}
                                                    <strong class="alert-danger"> {{ error|escape }}</strong>
                                                {% endfor %}{% endifequal %}
                                            {% endfor %}{% endif %}
                                        </label>
                                        {{ form.name }}
                                    </div>
                                    <div class="form-group">
                                        <label for="slug">
                                            Slug
                                            {% if form.errors %}{% for field in form %}
                                                {% ifequal field form.slug %}{% for error in field.errors %}
                                                    <strong class="alert-danger"> {{ error|escape }}</strong>
                                                {% endfor %}{% endifequal %}
                                            {% endfor %}{% endif %}
                                        </label>
                                        {{ form.slug }}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
