{% extends 'base.html' %}
{% load scheduletags %}

{% block content %}

    <div class="content-wrapper">
        <div class="content">
        <div class="row header">
            <div class="col-xs-12 col-md-8"><h2>Schedules</h2></div>
            <div class="col-xs-6 col-md-4 button">
                <a href="{% url 'SchedulesCreateView' %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New schedule
                </a>
            </div>
        </div>
            <div class="box-body table-responsive">
        <table class="table table-bordered table-striped">
            <ul class="list-group">
                {% for cal in schedules %}
                <tr>
                    <td>
                        {{ cal }}
                    </td>
                    <td class="controls">
                        <a href="{% url "calendar_details" cal.slug %}" role="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="See calendar">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="{% url "SchedulesUpdateView" cal.slug %}" role="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Edit">
                        <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{% url 'openduty.events.create_or_edit_event' cal.slug %}" role="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="Add event">
                        <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <form
                            style="width: 30px; display: -webkit-inline-box;"
                            method="POST" action="{% url "SchedulesDeleteView" cal.slug %}">
                            {% csrf_token %}
                            <button
                                type="submit"
                                role="button"
                                class="btn btn-danger btn-sm"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="Remove"
                                onclick="return confirm('Are you sure you want to delete this schedule : {{ cal.name }}')"
                                value="Button"
                            ><span class="glyphicon glyphicon-remove"></span>
                            </button>

                        </form>

                    </td>
                </tr>
                {% endfor %}
            </ul>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
