{% extends 'base.html' %}{% load static i18n %}

{% block body_tag %}
    <body class="hold-transition skin-blue login-page">
{% endblock %}
{% block title %}{% trans 'Login' %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="login-box">
                <div class="login-logo">
                    <a href="/"><b>Open</b>duty</a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    {% if form.non_field_errors %}
                        <div class="form-group has-error">
                            <label for="">
                                {% for error in form.non_field_errors %}
                                    <span>
                                        <i class="fa fa-times-circle-o"></i>
                                        <strong>{{ error|escape }}</strong>
                                    </span>
                                {% endfor %}
                            </label>
                        </div>
                    {% else %}
                        <h3>Login</h3>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            <label for="{{ form.username.id_for_label }}">
                                {% if form.username.errors %}
                                    <ul class="list-unstyled">
                                        {% for error in form.username.errors %}
                                            <li>
                                                <i class="fa fa-times-circle-o"></i>
                                                <strong>{{ error|escape }}</strong>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </label>
                            {{ form.username }}
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="{{ form.password.id_for_label }}">
                                {% if form.password.errors %}
                                    <ul class="list-unstyled">
                                        {% for error in form.password.errors %}
                                            <li>
                                                <i class="fa fa-times-circle-o"></i>
                                                <strong>{{ error|escape }}</strong>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </label>
                            {{ form.password }}
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox"> Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
{#                    <a href="{% url 'password_reset' %}">I forgot my password (working)</a>#}
                    <br><br>
{#                    <a href="{% url 'register' %}" class="text-center">Register a new membership (Not implemented)</a>#}
                </div>
                <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
        </section>
    </div>
    <!-- /.row (main row) -->
    </body>
{% endblock %}

{% block custom_scripts %}
    <style>
        .main-footer, .content-wrapper {margin-left: 0;}
        .skin-blue .wrapper {background-color: #ecf0f4;}
        .checkbox {margin-left: 20px;}
        .has-feedback label ~ .form-control-feedback {
            top: 20px;
        }
    </style>
{% endblock %}
