{% extends 'base.html' %}{% load static %}

{% block body_tag %}
<body class="hold-transition skin-blue login-page">
{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row">
                <div class="col-xs-12">
                    <br><br>
                    <br><br>
                    <div class="col-lg-6 col-lg-push-3 col-md-6 col-md-push-3 col-xs-10 col-xs-push-1">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h2 class="box-title text-center">
                                    Password reset sent
                                </h2>
                            </div>
                                <div class="box-body">
                                    <h4 class="login-box-msg">
                                        We've emailed you instructions for setting your password,
                                        if an account exists with the email you entered. You should receive them shortly.
                                    </h4>

                                    <h4 class="login-box-msg">
                                        If you don't receive an email, please make sure you've entered the
                                        address you registered with, and check your spam folder.
                                    </h4>
                                </div>
                                <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row (main row) -->
        </section>
    </div>
    <!-- /.row (main row) -->
{% endblock %}

{% block custom_scripts %}
    <style>
        .main-footer, .content-wrapper {margin-left: 0;}
        .skin-blue .wrapper {background-color: #ecf0f4;}
    .checkbox {margin-left: 20px;}
    </style>
{% endblock %}
</body>
