{% extends 'base.html' %}{% load static %}

{% block body_tag %}
<body class="hold-transition skin-blue login-page">
{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="login-box">
                <div class="login-logo">
                    <a href="/"><b>THE PHARMACY</b></a>
                </div>
                {% if validlink %}
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </p>

                    <form method="post">{% csrf_token %}
                        <div class="form-group has-feedback">
                            {% if form.new_password1.errors %}
                                <label for="{{ form.new_password1.id_for_label }}">
                                    <ul class="list-unstyled">
                                        {% for error in form.new_password1.errors %}
                                            <li>
                                                <i class="fa fa-times-circle-o"></i>
                                                <strong>{{ error|escape }}</strong>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </label>
                            {% endif %}
                            {{ form.new_password1 }}
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            {% if form.new_password2.errors %}
                            <label for="{{ form.new_password2.id_for_label }}">
                                    <ul class="list-unstyled">
                                        {% for error in form.new_password2.errors %}
                                            <li>
                                                <i class="fa fa-times-circle-o"></i>
                                                <strong>{{ error|escape }}</strong>
                                            </li>
                                        {% endfor %}
                                    </ul>
                            </label>
                            {% endif %}
                            {{ form.new_password2 }}
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Save</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <br>
                </div>
                <!-- /.login-box-body -->
                {% else %}
                    <div class="login-box-body">
                        <p class="login-box-msg">
                            The password reset link was invalid, possibly because
                            it has already been used.
                            Please request a new password reset.
                        </p>
                    </div>
                {% endif %}
            </div>
            <!-- /.login-box -->
        </section>
    </div>
    <!-- /.row (main row) -->
{% endblock %}

{% block custom_scripts %}
    <style>
        .main-footer, .content-wrapper {margin-left: 0;}
        .skin-blue .wrapper {background-color: #ecf0f4;}
    .checkbox {margin-left: 20px;}
    </style>
{% endblock %}
</body>
