{% extends 'base.html' %}{% load static %}

{% block body_tag %}
<body class="hold-transition skin-blue login-page">
{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="login-box">
                <div class="login-logo">
                    <a href="/"><b>THE PHARMACY</b></a>
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">
                        Forgotten your password? Enter your email address below,
                        and we'll email instructions for setting a new one.
                        {% if form.email.errors %}
                            {{ form.email.errors }}
                        {% endif %}
                    </p>

                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            {{ form.email }}
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            Reset my password
                        </button>
                        <br>

                        <!-- /.col -->
                    </form>
                    <a href="#">I forgot my password</a><br>
                    <a href="{% url 'login' %}" class="text-center">Register a new membership</a>
                </div>
                <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
        </section>
    </div>
    <!-- /.row (main row) -->
{% endblock %}

{% block custom_scripts %}
<script>
</script>
    <style>
        .main-footer, .content-wrapper {margin-left: 0;}
        .skin-blue .wrapper {background-color: #ecf0f4;}
    .checkbox {margin-left: 20px;}
    </style>
{% endblock %}
</body>
