{% extends 'base.html' %}{% load static %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Delete Pharmacist
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'dashboard_pharmacist' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">Delete Pharmacist</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Main row -->
            <div class="row">

            </div>
            <!-- /.row (main row) -->
        </section>
        <!-- /.content -->
    </div>
{% endblock %}
